body {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.questionnaire-info {
    background-color: #bdd9f58a;
    color: #000000;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.questionnaire-item-type {
    margin-left: 20px;
}

.questionnaire-container {
    display: flex;
    flex-direction: column; /* This will stack the children vertically */
    align-items: start; /* This will align the children to the start of the container */
}

.questionnaire-item {
    margin-bottom: 15px; 
}

.questionnaire-item-sub {
    margin-bottom: 15px;
    margin-left: 30px;
    color: #000000;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
}

.flex-container > .flex-half:last-child {
    flex-basis: 100%; /* Last flex item takes full width */
}

.flex-container > .flex-half:last-child + div {
    flex-basis: 50%; /* Second-to-last flex item takes half width */
}


.flex-subContainer {
    background-color: #f8f9fa;
}

.inline-element {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
    margin: 0;
}


.lf-help-button {
    position: relative;
    top: -4px; /* Adjust this value as needed */
    display: inline-block;
}


.flex-half {
    flex: 1; /* This will make the children take up an equal amount of space */
}

.tooltiptext {
    top: -5px;
  left: 105%;
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}


.lf-help-button:hover .tooltiptext {
    visibility: visible;
}